/* index.css */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;       /* Ensure the body takes the full width */
  height: 100%;      /* Ensure the body takes the full height */
  overflow-x: hidden; /* Prevent horizontal overflow */
  background-color: lavender;
}

#root {
  width: 100%;  /* Ensure the root div takes the full width */
  height: 100%; /* Ensure the root div takes the full height */
  display: flex; /* Optional: for flex layout */
  justify-content: center; /* Optional: center content */
}
